.cat {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 700px;
}

.header--main {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 54px;
    background-image: linear-gradient(to left, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xxx-large;
    display: block;
    backface-visibility: hidden;
    animation: moveToRight 2s ease-in-out;
}

.header--sub {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 35px;
    background-image: linear-gradient(to right, green, yellow, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xxx-large;
    display: block;
    backface-visibility: hidden;
    animation: moveToLeft 2s ease-in-out;
}

@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

#google-sign-in-btn {
    position: absolute;
    top: 10px;
    right: 50px;
}

#google-sign-out-btn {
    position: absolute;
    right: 75px;
    top: 50px;
}
.content {
    position:relative;
}
#account-info {
    width: 85%;
    height: 20%;
    word-wrap: break-word;
    margin-left: 15px;
}
